<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('作者信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>作者ID：</label>
                                <input type="text" name="authorId"/>
                            </li>
                            <li>
                                <label>姓名：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>姓：</label>
                                <input type="text" name="xing"/>
                            </li>
                            <li>
                                <label>名：</label>
                                <input type="text" name="ming"/>
                            </li>
                            <li>
                                <label>字：</label>
                                <input type="text" name="zi"/>
                            </li>
                            <li>
                                <label>号：</label>
                                <input type="text" name="hao"/>
                            </li>
                            <li>
                                <label>年代：</label>
                                <input type="text" name="years"/>
                            </li>
                            <li>
                                <label>创建人：</label>
                                <input type="text" name="createPerson"/>
                            </li>
                            <li>
                                <label>更新人：</label>
                                <input type="text" name="updatePerson"/>
                            </li>
                            <li>
                                <label>是否启用</label>
                                <input type="text" name="enable"/>
                            </li>
                            <li>
                                <label>备注：</label>
                                <input type="text" name="remarks"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="gs:info:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="gs:info:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="gs:info:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gs:info:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('gs:info:edit')}]];
        var removeFlag = [[${@permission.hasPermi('gs:info:remove')}]];
        var prefix = ctx + "gs/info";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "作者信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                // {
                //     field: 'authorId',
                //     title: '作者ID'
                // },
                {
                    field: 'name',
                    title: '姓名'
                },
                {
                    field: 'xing',
                    title: '姓'
                },
                {
                    field: 'ming',
                    title: '名'
                },
                {
                    field: 'zi',
                    title: '字'
                },
                {
                    field: 'hao',
                    title: '号'
                },
                {
                    field: 'years',
                    title: '年代'
                },
                {
                    field: 'shortDescription',
                    title: '短介绍',
                    formatter:function (value, row, index,field) {
                        return "<span style='display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;' title="+value+">"+value+"</span>"
                    },
                    cellStyle:function (value, row, index,field) {
                        return {
                            css:{
                                "min-width":"150px",
                                "white-space":"nowrap",
                                "text-overflow":"ellipsis",
                                "overflow":"hidden",
                                "max-width":"200px",
                            }
                        }
                    }
                },
                {
                    field: 'description',
                    title: '详细介绍',
                    formatter:function (value, row, index,field) {
                        return "<span style='display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;' title="+value+">"+value+"</span>"
                    },
                    cellStyle:function (value, row, index,field) {
                        return {
                            css:{
                                "min-width":"150px",
                                "white-space":"nowrap",
                                "text-overflow":"ellipsis",
                                "overflow":"hidden",
                                "max-width":"200px",
                            }
                        }
                    }
                },
                {
                    field: 'createPerson',
                    title: '创建人'
                },
                {
                    field: 'updatePerson',
                    title: '更新人'
                },
                {
                    field: 'enable',
                    title: '是否启用'
                },
                // {
                //     field: 'remarks',
                //     title: '备注'
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>